body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}
.container {
    background-color: whitesmoke;
    padding: 1rem;
    margin-top: 1rem;
    width: 350px;
    float: left;
    overflow-x:auto;
    overflow-y: auto;
    height: 500px;
}

.draggable{
    padding: 1rem;
    background-color: white;
    border: black;
    cursor: move;
    border-radius: 15px;
}

.draggable.dragging {
    opacity: .5;
}

.rest_drag{
    padding: 1rem;
    background-color: white;
    border: black;
    cursor: move;
    list-style: none;
    border-radius: 15px;

}

.rest_drag.dragging {
    opacity: .5;
}


.free_drag{
    padding: 1rem;
    background-color: white;
    border: black;
    cursor: move;
    list-style: none;
    border-radius: 15px;

}

.free_drag.dragging {
    opacity: .5;
}


.tech_drag{
    padding: 1rem;
    background-color: white;
    border: black;
    cursor: move;
    list-style: none;
    border-radius: 15px;

}

.tech_drag.dragging {
    opacity: .5;
}

.hum_drag{
    padding: 1rem;
    background-color: white;
    border: black;
    cursor: move;
    border-radius: 15px;

    list-style: none;
}

.hum_drag.dragging {
    opacity: .5;
}


.upper_hum_drag{
    padding: 1rem;
    background-color: white;
    border: black;
    cursor: move;
    list-style: none;
    border-radius: 15px;

}

.upper_hum_drag.dragging {
    opacity: .5;
}


.cse_drag{
    padding: 1rem;
    background-color: white;
    border: black;
    cursor: move;
    list-style: none;
    border-radius: 15px;

}

.cse_drag.dragging {
    opacity: .5;
}


.transfer_drag{
    padding: 1rem;
    background-color: white;
    border: black;
    cursor: move;
    list-style: none;
    border-radius: 15px;

}

.transfer_drag.dragging {
    opacity: .5;
}




h1 {
    font-family:serif;
    font-weight: 400;
    /* font-style: oblique; */
    text-align: center;
}
h2 {
    font-family: serif;
    font-size: large;
    text-align: center;
    color: black;
}
.year {
    background-color: #333;
    padding: 1rem;
    margin-top: 1rem;
    float:right;
    width: 200px;
}
.non_year {
    background-color: whitesmoke;
    padding: 1rem;
    margin-top: 1rem;
    float:right;
    width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
}
h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    color: red;
    background-color: cadetblue;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.semester {
    background-color: lightcoral;
    padding: 1rem;
    margin-top: 1rem;
    float:right;
    width: 150px;
    border-radius: 15px;

}
/* button {
    position:absolute;
    bottom: 0;
    padding: 10px;
    border-radius: 4px;
}
a.button{
    position:absolute;
    bottom: 0;
    padding: 10px;
    border-radius: 4px;
} */
.logged {
    position: relative;
    padding: 2px;
    background-color: blanchedalmond;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inlineS;
}
.heading {
    position: relative;
    padding: 10px;
    background-color: brown;
    font-size: 30px;
    text-align: center;
}


.tab {
    overflow: hidden;
    border:none;
    background-color: lightcoral;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 15px;
    padding: 12px;
    margin: 5px;

  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
    border-radius: 15px;

  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
    border-radius: 15px;

  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: whitesmoke;
    border-top: none;
  }